.docs {
	display: grid;
	// row-gap: 40px;
	line-height: 1.5;

	p {
		margin: 1rem 0;
	}

	ul,
	ol {
		padding-left: 2rem;

		li {
			list-style: disc;
			margin-bottom: 0.5rem;
		}
	}

	ol li {
		list-style: decimal;
	}

	section, section.docs {
		margin: 80px 0 40px;
		@include mobile {
				margin: 40px 0 40px;
		}
	}

	section + section {
		// border-top: 1px solid #dae5e9;
	}
}