:root {
	--container-width: 1200px;
	--container-padding: 15px;

	--font-main: 'manrope';
	--font-accent: sans-serif;
	--font-titles: var(--font-accent);

	--page-bg: #242b33;
	--page-bg-blur: #242b33d4;
	--text-color: #fff;
	--text-color-blur: #ffffffc2;
	--accent: #ac182c;
	--link-color: #ffffff;
	--button-color: #47CBD8;
	--button-hover-color: #9ee664;
	--error: #e61b1b;


  --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}