.details {
  &__title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 32px;
  }
  &__items {
    overflow: hidden;
    background: linear-gradient(var(--page-bg), var(--page-bg)) padding-box,
      linear-gradient(to bottom, var(--page-bg) 45%, #ffffffb9 95%) border-box;
    border-radius: 50px;
    border: 1px solid transparent;
    margin-bottom: 60px;
    &-img__transshipment {
      height: 500px;
      width: 100%;
      background: linear-gradient(
          180deg,
          // #242b33 0%,
            #2d343c61 65.04%,
          #242b33 93.19%
        ),
        no-repeat url("./../img/wheat.webp");
      background-size: cover;
      background-position: center;
    }
    &-img__port_agency {
      height: 500px;
      background: linear-gradient(
          180deg,
          // #242b33 10%,
            #2d343c61 65.04%,
          #242b33 93.19%
        ),
        no-repeat url("./../img/port agency.webp");
      background-size: cover;
      background-position: center;
    }
    &-img__chartering {
      height: 500px;
      background: linear-gradient(
          180deg,
          // #242b33 0%,
            #2d343c61 65.04%,
          #242b33 93.19%
        ),
        no-repeat url("./../img/chartering2.webp");
      background-size: cover;
      background-position: center;
    }
    &-img__parking {
      height: 500px;
      background: linear-gradient(
          180deg,
          // #242b33 0%,
            #2d343c61 65.04%,
          #242b33 93.19%
        ),
        no-repeat url("./../img/parking.webp");
      background-size: cover;
      background-position: center;
    }
    &-title {
      text-align: center;
      font-size: 28px;
      padding: 10px 0 30px;
    }
    &-description {
      padding: 10px 30px 35px;
      position: relative;
      max-height: 310px;
      &.show {
        max-height: max-content;
      }
      &__main {
        font-size: 18px;
      }
      &__list {
        padding: 10px;
        &-item {
          padding: 5px;
          font-size: 16px;
        }
      }
      &__bottom {
        display: flex;
        justify-content: center;
        align-items: end;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 80px;
        opacity: 1;
        background: linear-gradient(
          180deg,
          rgba(36, 43, 51, 0) 0%,
          rgba(36, 43, 51, 1) 90%
        );
        transition: all 0.2s ease-in;

        &.hide-blur {
          background: transparent;
          transition: all 0.2s ease-in;
        }

        &__button {
          border: 2px dashed var(--button-color);
          border-radius: 20px;
          width: 32px;
          height: 32px;
          transition: all 0.2s ease-in;
          margin: 5px 0;
          transform: rotate(0deg) translateY(-0.15em);
          &.rotate {
            transform: rotate(180deg) translateY(-0.15em);
          }

          &:hover {
            border: 2px dashed #fff;
            background-color: var(--button-color);
          }
          &__show {
            fill: #fff;
            width: 32px;
            height: 32px;
          }
        }
      }
    }
  }
  @include tablet {
    &__items {
      &-title {
        text-align: center;
        font-size: 24px;
        padding: 10px 0 30px;
      }
      &-description {
        padding: 10px 30px;
        &__main {
          font-size: 16px;
        }
        &__list {
          padding: 10px;
          &-item {
            padding: 5px;
            font-size: 14px;
          }
        }
      }
    }
  }
  @include mobile {
    &__title {
      font-size: 32px;
    }
    &__items {
      overflow: hidden;
      background: linear-gradient(var(--page-bg), var(--page-bg)) padding-box,
        linear-gradient(to bottom, var(--page-bg) 45%, #ffffffb9 95%) border-box;
      border-radius: 50px;
      border: 1px solid transparent;
      margin-bottom: 80px;
      &-img__transshipment {
        height: 200px;
      }
      &-img__port_agency {
        height: 200px;
      }
      &-img__chartering {
        height: 200px;
      }
      &-img__parking {
        height: 200px;
      }
      &-title {
        text-align: center;
        font-size: 24px;
        padding: 10px 0 10px;
      }
      &-description {
        padding: 10px 5px 25px;
        &__title {
          text-align: center;
          font-size: 22px;
        }
        &__main {
          font-size: 15px;
          padding: 0 10px;
        }
        &__list {
          // padding: 10px;
          &-item {
            // padding: 5px;
            font-size: 14px;
          }
        }
        &__footer {
          font-size: 15px;
          padding: 0 10px;
        }
      }
    }
  }
}

@keyframes rotate {
}
