.footer {
  background-color: var(--page-bg);
  color: #fff;
  h1 {
    font-size: 32px;
  }

  a {
    color: #fff;
    text-decoration: underline;
  }
  &__wraper {
    border-top: 1px solid #fff;
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__information {
    display: flex;
    flex-direction: column;
  }
  &__copyright {
    margin-top: 30px;
    font-size: 12px;
    text-align: center;
  }

  @include tablet {
      &__wraper {
      justify-content: space-around;
      &-icon {
        margin-bottom: 15px;
      }
    }
  }
  @include mobile {
    &__wraper {
      padding-top: 25px;
      flex-direction: column-reverse;
      &-icon {
        margin-bottom: 15px;
      }
    }
    &__information {
      align-items: center;
      text-align: center;
    }
  }
}
