.footer {
  background-color: var(--page-bg);
  color: #fff;
  h1 {
    font-size: 32px;
  }

  a {
    color: #fff;
    text-decoration: underline;
  }

  @media (max-width: 1200px) {
    font-size: 26px;
  }
  &__wraper {
    border-top: 1px solid #fff;
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__information {
    display: flex;
    flex-direction: column;
  }
  &__copyright {
    margin-top: 30px;
    font-size: 12px;
    text-align: center;
  }
  &__social{
    
  }
}
