.footer {
  background-color: var(--page-bg);
  padding: 50px 0;
  font-size: 32px;
  color: #fff;
  border-top: 1px solid #dae5e9;
  h1 {
    font-size: 32px;
  }

  a {
    // color: var(--link-color);
    color: #fff;
    text-decoration: underline;
  }

  @media (max-width: 1200px) {
    font-size: 26px;
  }
}

.footer__copyright {
  padding: 10px 0;
  font-size: 16px;
}
