.header {
  background: linear-gradient(
      180deg,
      #242b33 11.98%,
      #2d343c61 51.04%,
      #242b33 92.19%
    ),
    no-repeat url("./../img/Grain-Cargo-Ship.jpg");
  background-size: cover;

  padding: 30px 0;
  min-height: 100vh;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &-logo {
    }
    &-language {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      position: absolute;
      top: 0;
      right: 10px;
      width: auto;
      height: 30px;
      overflow: hidden;
      transition: all 0.3s;
      &__btn {
        color: var(--text-lang-color-blur);
        cursor: pointer;
        transition: all 0.2s ease-in;
        display: none;
      }
      & .lang__active {
        color: var(--text-color);
        border-bottom: 2px solid var(--button-color);
        display: block;
      }
      &.spring {
        height: 110px;
        & .header__row-language__btn {
          display: block;
        }
      }
    }
    &-language-mobile {
      display: none;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 800px;
    padding: 30px 0;

    &-title {
      margin-bottom: 100px;
      font-size: 48px;
      font-weight: 600;
      text-shadow: var(--page-bg) 2px 0 10px;
    }
    &-text {
      text-align: center;
      font-size: 24px;
      font-weight: 500;
      text-shadow: var(--page-bg) 2px 0 10px;
    }
  }
  @include tablet {
    &__row {
      justify-content: space-around;
    }
    &__content {
      &-title {
        font-size: 42px;
      }
      &-text {
        text-align: center;
        font-size: 20px;
      }
    }
  }

  @include mobile {
    &__row {
      justify-content: center;
      position: relative;

      &-language {
      }
    }
    &__content {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      min-height: 650px;

      &-title {
        margin-bottom: 100px;
        font-size: 26px;
      }
      &-text {
        text-align: center;
        font-size: 16px;
      }
    }
  }
}
