.header {
  // background-color: #c0e4f4;

  background: linear-gradient(
      180deg,
      #242b33 11.98%,
      #2d343c61 51.04%,
      #242b33 92.19%
    ),
    no-repeat url("./../img/Grain-Cargo-Ship.jpg") 
		;
		background-size: cover;

  padding: 30px 0;
  min-height: 100vh;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__nav {
  @include tablet {
    display: none;
  }
}

.header__content{
	min-height: 500px;
	padding: 30px 0;
	display: flex;
	align-items: center;
color: var();
	&-text{
		text-align: center;
	}
}
