.header {
  background: linear-gradient(
      180deg,
      #242b33 11.98%,
      #2d343c61 51.04%,
      #242b33 92.19%
    ),
    no-repeat url("./../img/Grain-Cargo-Ship.jpg");
  background-size: cover;

  padding: 30px 0;
  min-height: 100vh;

  &__row {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 600px;
    padding: 30px 0;

    &-title {
      margin-bottom: 100px;
      font-size: 26px;
      font-weight: 600;
    }
    &-text {
      text-align: center;
      font-size: 14px;
    }
  }
  @include tablet {
    &__row {
      display: flex;
      justify-content: start;
      align-items: center;
    }
    &__content {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      min-height: 600px;
      padding: 30px 0;

      &-title {
        margin-bottom: 100px;
        font-size: 26px;
      }
      &-text {
        text-align: center;
        font-size: 14px;
      }
    }
  }

  @include mobile {
    &__row {
      justify-content: center;
    }
    &__content {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      min-height: 650px;

      &-title {
        margin-bottom: 100px;
        font-size: 26px;
      }
      &-text {
        text-align: center;
        font-size: 16px;
      }
    }
  }
}
