.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    font-size: 32px;
  }
  &__items {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    &__item {
      display: flex;
      border: 1px solid #fff;
      justify-content: center;
      align-items: center;
      padding: 20px;
      margin-top: 40px;
      min-width: 150px;
      max-width: 500px;
      &-icon {
        fill: #ffffff;
        max-width: 100px;
        max-height: 100px;
      }
      &__description {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        &-title {
          font-size: 20px;
          margin-bottom: 20px;
        }
        &-text {
          font-size: 16px;
          text-align: center;
          color: var(--text-color-blur);
        }
      }
    }
  }
}
