.social__contact {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: end;
  bottom: 30px;
  right: 50px;
  justify-content: space-between;
  height: 180px;

  &-icon {
    width: 46px;
    height: 46px;
    overflow: hidden;
    &.phone {
      fill: #2fc72a;

      padding: 8px;
      border-radius: 15px;
      // border: 1px solid #fff;
    }
    &.telegram {
      border-radius: 20px;
    }
    &.mail {
      width: 48px;
      height: 32px;
    }

    &:hover {
      box-shadow: 0 0 20px var(--button-color);
    }
  }
  @include tablet {
    bottom: 40px;
    right: 25px;
    height: 150px;
    &-icon {
      &.phone {
        fill: #2fc72a;
        width: 42px;
        height: 38px;
        padding: 3px;
        border-radius: 15px;
      }
      &.telegram {
        width: 42px;
        height: 42px;
      }
      &.mail {
        width: 42px;
        height: 32px;
      }
    }
  }
  @include mobile {
    bottom: 35px;
    left: 10px;
    justify-content: space-between;
    height: 130px;
    width: 40px;
    &-icon {
      width: 38px;
      &.phone {
        fill: #2fc72a;

        height: 38px;
        padding: 3px;
      }
      &.telegram {
        width: 38px;
        height: 38px;
        border-radius: 20px;
      }
      &.mail {
        width: 36px;
        height: 32px;
      }
    }
  }
}
