.social__contact {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: end;
  bottom: 30px;
  right: 90px;
  justify-content: space-between;
  height: 180px;

  &-icon {
    width: 46px;
    height: 46px;
    overflow: hidden;
    &.phone {
      fill: #2fc72a;

      padding: 8px;
      border-radius: 15px;
      border: 1px solid #fff;
    
    }
    &.telegram {
  
      border-radius: 20px;
    }
    &.mail {
      width: 48px;
      height: 32px;
    }

    &:hover {
      box-shadow: 0 0 20px var(--button-color);
     
    }
  }
  @include tablet {
    bottom: 40px;
    right: 35px;
    height: 150px;
    &-icon {
      width: 38px;
    }
  }
  @include mobile {
    bottom: 35px;
    left: 10px;
    justify-content: space-between;
    height: 130px;
    width: 40px;
    &-icon {
      width: 35px;
    }
  }
}
